* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}


.main-width{
  width: 90%;
  margin: auto;
}

//Sekcja z logo i gitara

.section-one{

  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
  z-index: 1;
  height: 1000px;
  background-image: url('../images/main-banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 56.25%;
  color: white;


  nav{
    padding-top: 2%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    .small-logo{
      margin-right: auto;
      font-size: 22px;
      span{
          color: #00F6CC;
      }
    }

    .menu{
      display: flex;
      flex-wrap: nowrap;
      text-transform: uppercase;
      color: #747474;
      font-weight: bold;

      :hover{
        color: #00F6CC;
      }

      div{
        padding-left: 10px;
      }
    }
  }

.one-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

  .big-logo{

        width: 70%;
        background-image: url('../images/main-logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        padding-bottom: 56.25%;
      }
      .logo-description{
        text-align: center;
        width: 50%;
        margin-top: -10%;
        margin-bottom: 5%;
        color: #868686;
      }
      .button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        height: 50px;
        width: 200px;
        background-color: rgba(255, 255, 255, 0.02);
        border: 1px solid white;
        margin-bottom: 5%;
        text-align: center;

        a{
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
        }

      }

}


//Druga sekcja z obrazkami

.section-two{
  width: 100%;


  .main-width{
    display: flex;
    flex-direction: column;
    align-items: center;

    .bubble{
      width: 100vw;
      height: 262px;
      max-width: 111.1%;
      display: flex;
      flex-direction: row;
    }

    .fill-left{
      background-color: white;
      margin-top: -4.99%;
      width: 40%;
      height: 262px;
      margin-right: -5%;
    }

    .fill-right{
      background-color: white;
      margin-top: -4.99%;
      width: 40%;
      height: 262px;
      margin-left: -5%;
    }

  .read-more{
    height: 262px;
    width: 30%;
    background-image: url('../images/banner-bottom.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 105%;
    margin-top: -5%;

    }

    .two-title{
      margin-top: -222px;
      color: black;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: bold;
      justify-content: center;
      align-items: center;


      span{
        font-size: 35px;
        margin-top: 20px;
        text-transform: uppercase;
        font-weight: bold;
      }

      .border-line{
        border-bottom: 3px solid #00F6CC;
        width: 50%;
      }

    }

    .pictures{
      display: flex;
      flex-direction: row;

      .picture-one{
        background-image: url('../images/img1.png');
        background-repeat: no-repeat;
        height: 400px;
        width: 100%;
        background-position: center;
        background-size: contain;

      }

      .picture-two{
        background-image: url('../images/img2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 400px;
        width: 100%;
      }

      .picture-three{
        background-image: url('../images/img3.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 400px;
        width: 100%;
      }

      .small-block{
        width: 32%;

        .picture-text{

          margin-top: 5px;

          h1{
            text-transform: uppercase;
            font-size: 25px;
            margin-bottom: 10px;
          }
          p{
            color: #A5A5A5;
          }

          .button{
            margin-top: 40px;
            background-color: #292D2E;
            width: 50%;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            text-align: center;

            &:hover{
              background-color: #00F6CC;
            }
            a{
              color: white;
              text-transform: uppercase;
              font-weight: bold;
              text-decoration: none;
            }
          }
        }
      }

      .middle-one{
        margin-right: 2%;
        margin-left: 2%;
      }
    }
  }
}


//Sekcja z mikserem

.section-three{
  width: 100%;
  margin-top: 100px;
  height: 500px;
  background-image: url('../images/banner-paralax.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: lightgrey;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;

  .main-width{
    text-align: center;
    .section-three-name{
      font-size: 65px;
      font-weight: lighter;
      span{
        color: #00F6CC;
      }
    }

    .section-three-text{
      color: #676767;
      margin-top: 2%;
    }
  }
}

//Sekcja z teamem

.section-four{
  display: flex;
  justify-content: center;
  background-color: lightgrey;

  .section-four-team{
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;


    span{
      font-size: 35px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .border-line{
      border-bottom: 3px solid #00F6CC;
      width: 10%;
    }

  }

  .section-four-team{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }

  .team-members{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 5%;
  }

  .member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    .member-picture-one{
      background-image: url('../images/photo1.png');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 100%;
    }

    .member-picture-one:after{
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    .member-picture-two{
      background-image: url('../images/photo2.png');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 100%;
    }

    .member-picture-two:after{
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    .member-picture-three{
      background-image: url('../images/photo3.png');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 100%;
    }

    .member-picture-three:after{
      content: "";
      padding-bottom: 100%;
      display: block;
    }

    .member-picture-four{
      background-image: url('../images/photo4.png');
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 100%;
    }

    .member-picture-four:after{
      content: "";
      padding-bottom: 100%;
      display: block;
    }


    &:not(:first-child){
      margin-left: 5%;
    }

    h1{
      text-align: center;
      padding-top: 10%;
      padding-bottom: 5%;
    }
    p{
      text-align: center;
      padding-bottom: 5%;
    }

    .button{
      margin-top: 40px;
      background-color: #292D2E;
      width: 80%;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      text-align: center;

      &:hover{
        background-color: #00F6CC;
      }
      a{
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

//sekcja z formularzem

.section-five{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 800px;
  padding-bottom: 5%;
  max-height: 100%;

  .section-five-name{
    text-align: center;
    padding-bottom: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    align-items: center;


    span{
      font-size: 35px;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }

    .border-line{
      border-bottom: 3px solid #00F6CC;
      width: 10%;
      margin-top: 20px;
    }
  }

  .section-five-description{
    color: #858585;
  }

  form{
    display: flex;
    flex-direction: column;

    input[name=name]{
      color: black;
    }

    input{
      width: 60%;
      height: 40px;
      margin-top: 3%;
      border-radius: 8px;
      border: 2px solid black;
      padding-left: 1%;


    }
    textarea{
      margin-top: 3%;
      border-radius: 8px;
      border: 2px solid black;
      margin-bottom: 3%;
      box-sizing: border-box;
      height: 100px;
      max-width: 95%;
      max-height: 95%;
      padding-left: 1%;
      padding-top: 1%;
    }

    .submit-form{
      display: flex;
      flex-direction: row;
      .button{
        margin-right: 5%;
        background-color: #292D2E;
        width: 15%;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        text-align: center;

        &:hover{
          background-color: #00F6CC;
        }
        a{
          color: white;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none;
        }
      }
      p{
        text-align: center;
        padding-top: 10px;
        font-weight: bold;
      }
    }
  }
}


//stopka

.footer{
  background-color: #292D2E;


  .main-width{
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 5%;
    color: white;
    font-weight: bold;
    .left-container{
      margin-right: 5%;
      div{
        &:hover{
          color: #00F6CC;
        }
      }
    }

    .right-container{
      margin-right: 5%;
      div{
        &:hover{
          color: #00F6CC;
        }
      }
    }

  }
}
